* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

main {
    margin: 0 14px;
    height: 100%;
    width: calc(100% - 28px);
}

h1 {
    margin-top: 70px;
    font-weight: 700;
    font-size: 41px;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h2 span {
    font-weight: 700;
    color: #EF4444;
}

h2 + img {
    margin-top: 36px;
}

.slider img {
    display: block; /* default inline block is not influnced by margin auto */
    margin: 36px auto;
}

.data-cd {
    display: flex;
    justify-content: space-evenly;
}

.data-cd h3 {
    font-size: 17px;
    color: white;
    margin: 0;
}

.data-cd p {
    font-weight: 500;
    font-size: 41px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 184, 184, 0.1);
}


footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;  
    color: white;
    border-bottom: transparent solid 3px;
}

footer div:first-child i {
    font-size: 30px;
    color: #EF4444;
}

footer div:last-child i {
    font-size: 30px;
    color: #9b9292;
}