body {
    background-color: #2F3136;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

p {
    line-height: 1.8;
}

h1, h2 {
    color: #ec4444;
    font-family: 'Noto Sans Mono', monospace;
}

h3 {
    color: #ec4444;
    font-family: 'Georama', sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}