.about-main {
    padding-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

}

.container-1 {
    /* display: flex; */
    display: block;
}

p {
    width: 70%;
    margin-bottom: 4rem;
}

h2 {
    font-size: 20px;
}

.description {
    margin-left: 5%;
    padding-top: 5rem;
}

.description-img img {
    display: none;
}

ul {
    margin-bottom: 4rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f0f0f0;
    border-bottom: 0.1rem #f0f0f0;
}

@media (min-width: 992px) {

    .container-1 {
        display: flex;
    }

    .description {
        flex: 2;
    }

    .description-img {
        flex: 1.2;
    }
    
    .description-img img {
        display: block;
        margin: auto;
        width: 50%;
    }

    .picture-spacing{
        margin-top: 0rem;
        margin-bottom: 10rem;
    }
    
    .trendsPic img{
        width: 70%;
        border-radius: 10px;
    }
}